/* top color style */
.dark1{
    color: black;
    font-weight: bold;
}
.assh{
    color: lightslategray;
}
 body{
    margin: 40px;
 }
nav ul li{
    list-style: none; 

}
.display-flex{
    display: flex;
}
.nav-link{
text-decoration: none;
}
.nav-iteam{
    margin-right: 25px;
}
.navber{
    justify-content: space-between;
   
}
.navber,.banner, .main-content{
    max-width: 1140px;
    margin: 0 auto;
    }
    

   .banner title{
    font-weight: bold;
    font-size: 45px;
    margin: 15px;
   } 
.banner-content{
    max-width: 570px;
    margin-top: 20px;
    margin: 15px;
}
.banner pic{
    margin-top: 15px;
    margin: 15px;
}
    h1{
        font-size: 85px;
    }
    .ff{
        color:rgb(from rgb(236, 15, 15) r g b);
        
    }
.banner{
display: flex;
}
.content-discribtion{
 text-align: center;
 margin-bottom: 30px;
}
.banner-flower{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.btn{
    color: aliceblue;
    background-color: orangered;
    padding:8px 100px;
    
}
.sample-f{
    max-width: 270px;
    margin: 0 5px;
}
.passage{
    text-align:center;
    margin: 15px;
}
.side-tex:hover
{
    border: 2px solid ;
     
}

.side-tex{
    margin: 15px;
    font-size: 18px;

}
.side-title, .side-pic{
    max-width: 540px;
    margin: 0 auto;
.i-con{

}

}
.side-panel{
    display: flex;
    
}
.middle{
    text-align: center;
}
.middle-tex:hover{
    border: 2px solid;

}
.banner-step{
    display: flex;
    gap: 10px 15px;

}
.cols-2{
 margin: 0 15px;
 max-width: 367px;

}
.cols{
    margin-bottom: 25px;
    margin-top: 0px;
     
}
.col1{
    max-width: 750px;
    margin: 15px;
}
footer{
    margin: 0 auto;
    max-width: 1440px;
    
    
}
.foot{
    max-width: 1120px;
    display: grid;
    grid-template-columns: 650px 150px 200px 250px;
     margin: 30px;
}
.foot1{
    max-width: 360px;
    font-size: 22px;
    margin-left: 50px;
}
 ul li{
list-style: none;
font-size: 18px;
margin: 25px;
}
.foot2{
    padding: 12px;
 }
 p{
    font-size: 22px;
 }